<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Desinations Bucket List</title>
  </head>

  <body>
    <h2>Desinations Bucket List</h2>
    <h3>Destinations</h3>

    <form action="/destinations" method="post">
      <input type="text" id="destination" name="destination">
      <input type="submit">
    </form>

  </body>
</html>
